[user]
	email = cfclrk@gmail.com
	name = Chris Clark
[core]
	editor = emacs
	excludesfile = ~/.gitignore_global
[help]
	autocorrect = 1
[color]
	ui = auto
[push]
	default = simple
[merge]
	tool = emerge
[diff]
	compactionHeuristic = true
