[user]
	name = Chris Clark
[core]
	editor = emacs
	excludesfile = ~/.gitignore_global
[help]
	autocorrect = 1
[color]
	ui = auto
[push]
	default = simple
[merge]
	tool = emerge
[diff]
	compactionHeuristic = true

# Include more config depending on the current directory
[includeIf "gitdir:~/"]
	path = .gitconfig-personal
[includeIf "gitdir:~/IronNet/"]
	path = .gitconfig-ironnet
